* {
	-webkit-transition: all .2s ease;
}

body {
	color: #fff;
	background:url(../img/noise.png) #fff;
}


.fixed {
	position: fixed;
}

.content {
	margin: 0 auto;
	width: 960px;
}

#head {
	border-top: 4px solid #2ba6e8;
	background: #fff;
	width: 100%;
	z-index: 100;
	height: 85px;
}

#head h1 {
	padding-left: 100px;
}

#logo {
	margin: 0px;
}

#menu img {
	width: 200px;
}

nav {
	float: right;
	width: 700px;
	position: relative;
	top:13px;
}

#menu ul li{
	display: inline-block;
	padding: 10px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

#menu ul li a {
	text-decoration: none;
	color: #626060;
}

#menu ul li a:hover {
	border-bottom: 1px solid #2ba6e8;
}

#inicio {
	width: 100%;
	padding-top: 120px;
	background: url(../img/inicio2.png) no-repeat;
	height: 350px;
	background-size: 100% 100%;
	background-position: 0px 45px;
}

#inicio h1 {
	text-transform: uppercase;
	font-size: 28px;
	margin:5px 0px;
	font-family: 'BebasRegular';	
	text-shadow:1px 1px 0px #000;
	padding-top: 50px;
	font-weight: normal;
}
#inicio p {
	font-family: 'Open Sans';
	font-weight: 300;	
	width: 600px;
	text-shadow:1px 1px 0px #000;
	margin:5px 0px;
	font-size: 20px;
	padding-top: 10px;
}

#inicio p strong {
	font-weight: 600;
	font-family: 'BebasRegular';
}


#social {
	background: background: #36a9e7;
	background: -moz-linear-gradient(top, #36a9e7 0%, #2b9fdd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36a9e7), color-stop(100%,#2b9fdd));
	background: -webkit-linear-gradient(top, #36a9e7 0%,#2b9fdd 100%);
	background: -o-linear-gradient(top, #36a9e7 0%,#2b9fdd 100%);
	background: -ms-linear-gradient(top, #36a9e7 0%,#2b9fdd 100%);
	background: linear-gradient(to bottom, #36a9e7 0%,#2b9fdd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a9e7', endColorstr='#2b9fdd',GradientType=0 );
	padding: 0px 0px 25px 0px;
	font-family: rial, Helvetica, sans-serif;
	text-align: center;
}

#social span {
	padding-left: 20px;
}

#social span a {
	padding-left: 4px;
	text-decoration: none;
	color:#000;
	position: relative;
	top:20px;
}


#about {
	background:url(../img/noise.png)#252525;
	font-family: 'Open Sans', sans-serif;
	padding: 100px 50px;
	text-shadow:1px 1px 0px #000;
	font-size: 16px;

}

#about p {
	width:900px;
	padding: 5px 0px;
	line-height: 20px;
}

#about a {
  color: #009CDE;
	text-decoration: none;
}

#about a:hover {
  color: white;
}

#about h3 {
	font-family: 'BebasRegular';
	font-size: 16px;
	letter-spacing: 1px;
	margin: 4px 0px;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
}

#participantes {
	margin:0px;
	padding-top: 50px;
}
#participantes li {
	list-style: none;
	display: inline-block;
	padding-left: 20px;
}

#participantes li p {
	width: 300px;
	padding-left: 20px;
	display: inline-block;
	position: relative;
	top: -25px;
}

#disenador {
	position: relative;
	top: -20px;
}

#info {
	background:url(../img/noise.png) #205a8c;
	font-family: 'Open Sans', sans-serif;
	padding: 100px 50px;
	text-shadow:1px 1px 0px #000;
	font-size: 16px;
}

#info a {
	color: #fff;
	background: #1a1f4c;
	padding: 1px 3px;
	text-decoration: none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

#info a:hover {
	background: #5363ff;
}

#info ul li {
	margin-top:10px;
	line-height: 22px;
}

#info ul {
	padding-bottom: 60px;
}
#info p {
	width: 450px;
	padding: 5px 0px;
	line-height: 20px;
}

#info h3 {
	font-family: 'BebasRegular';
	font-size: 16px;
	letter-spacing: 1px;
	margin: 4px 0px;
	text-transform: uppercase;
	font-weight: normal;
	color: #c4c5d0;
}

#disenador {
	position: relative;
	top: -40px;
}

#disenador img {
	position: relative;
	top: 40px;
}

#analista {
	position: relative;
	top: 60px;
}

#analista img {
	position: relative;
	top: -60px;

}


#partners {
	background:url(../img/noise.png) #205a8c;
	text-align: center;
	text-shadow:1px 1px 0px rgba(255,255,255,.1);
	font-weight: bold;
	color:#00071a;
	padding: 120px 0px;
	border-top: 3px solid #000;
	text-transform: uppercase;
}

#partners h2 {
	margin: 0px;
	padding: 20px;
	color: #fff;
	text-shadow:1px 1px 0px #000 ;
	font-family: 'BebasRegular';
	font-weight: normal;
}

#partners img {
	padding: 10px;
}


#agenda {
	background: #b8b7be;
	background: -moz-linear-gradient(-45deg, #b8b7be 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b8b7be), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(-45deg, #b8b7be 0%,#ffffff 100%);
	background: -o-linear-gradient(-45deg, #b8b7be 0%,#ffffff 100%);
	background: -ms-linear-gradient(-45deg, #b8b7be 0%,#ffffff 100%);
	background: linear-gradient(135deg, #b8b7be 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b7be', endColorstr='#ffffff',GradientType=1 );
	padding: 100px 50px;
	color: #000;
	font-family: rial, Helvetica, sans-serif;
}

#agenda h2 {
	font-family: 'BebasRegular';
	text-transform: uppercase;
	margin: 5px 0px;
	font-weight: normal;
}

#agenda span {
	font-size: 18px;	
}

#agenda ul {
		margin: 5px 0px;
		width: 400px;
}

#agenda ul li {
	font-size: 12px;
	list-style: none;
	padding: 5px;
	border-bottom: 1px solid #8f8f8f;
	color: #4a4a4a;
}

#agenda ul li span {
	font-size: 12px;
	padding-left: 50px;
	color: #4a4a4a;
}

#datasets {
	background:url(../img/noise.png) #000;
	padding: 1px 50px 100px 50px;
	font-family: 'Open Sans';
	font-size: 14px;
}

#datasets ul {
	text-align: center;
	padding-top: 120px;
}
#datasets ul li {
	padding-top: 12px;
	list-style: none;
	display: inline-block;
}

#datasets ul li a {
	background: #fff;
	padding: 20px;
	text-decoration: none;
	border-radius:5px;
}

#datasets ul li a:hover  {
	box-shadow: 0px 0px 20px rgba(255,255,255,.4);
}

#datasets h2 {
	font-family: 'BebasRegular';
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#invitados {
	padding: 100px 50px;
	width: 860px;
	margin: 0 auto;
	color: #000;
}

.invitado {
	display: inline-block;
	width: 450px;
	position: relative;
	padding-top: 20px;
	margin-left: 25px;
}

.invitado:hover >  img{
	opacity: .8;
	box-shadow:0px 0px 0px 5px #009cf6;
	cursor: pointer;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
}

.invitado:hover >  p{
	background: rgba(0,0,0,.8);
}

.invitado img {
	width: 150px;
	height: auto;
	border-radius: 50%;
	border: 10px solid rgba(255,255,255,.2);
	box-shadow:0px 0px 10px 0px rgba(0,0,0,.5);
  -webkit-filter: grayscale(.8);
  -moz-filter: grayscale(.8);
}

.invitado span {
	background: rgba(0,0,0,.8);
	color: #fff;
	border-radius: 5px 5px 0px 5px;
	padding: 10px;
	position: absolute;
	top:110px;
	left:-65px;
}

.invitado a {
	color: #000;
	font-weight: bold;
	border-radius: 0px 0px 5px 5px;
	position: absolute;
	background: #009cf6;
	padding: 5px;
	top:145px;
	left: -38px;
}

.invitado p {
	display: inline-block;
	font-size: 11px;
	width: 190px;
	background: rgba(0,0,0,.3);
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	position: absolute;
	top:73px;
	left: 177px;
}

#faqs {
	background:url(../img/noise.png) #252525;
	padding: 100px 50px;
	font-size: 16px;
	color: #e7e7e7;
}

#faqs h2 {
	font-family: 'BebasRegular';
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#faqs p {
	padding-top: 10px;
}
#faqs span {
color: #fff;
font-weight: bold;
}

#faqs a {
  color: #009CDE;
	text-decoration: none;
}

#faqs a:hover {
  color: white;
}


#footer {
	background: #000;
	color: #fff;
	padding: 50px;
	text-align: center;
}

#footer span {
	padding: 0px 5px;
}
#footer a {
  color: #009CDE;
	text-decoration: none;
}

#footer a:hover {
  color: white;
}

.wrap {
  box-sizing: border-box;
  margin: 0px auto;
  position: relative;
}

.wrap h2 {
	position: relative;
	top: 165px;
	left: -41px;
	background: #151616;
	z-index: 99;
	padding: 20px;
}

.wrap, .x, .y, .z {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.x {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-animation:mymove 10s linear infinite;
  border: 1px solid #0006ff;
}
.x1, .x2, .y, .y1, .y2, .z, .z1, .z2 , .xInner , .yInner , .zInner {
  position: absolute;
}
.y {
  -webkit-transform:  rotateX(90deg);
  border: 2px solid #00baff;
  top:0;
  left:0;
}
.z {
  -webkit-transform:  rotateY(90deg);
  border: 1px solid #055cd3;
  top:0;
  left:0;
}
.x1, .x2, .y1, .y2, .z1, .z2 {
  width: 87.5%;
  height: 87.5%;
  border-radius: 50%;
}
.x1 {
  top:6.25%;
  left:6.25%;
  -webkit-transform: translateZ(50px);
  border: 1px solid #02b7e9;
}
.x2 {
  -webkit-transform:  rotateX(180deg) translateZ(50px);
  top:6.25%;
  left:6.25%;
  border: 1px solid #a7d4de;
}
.y1 {
  -webkit-transform: rotateX(90deg) translateZ(50px);
  top:6.25%;
  left:6.25%;
  border: 1px solid #04b9ea;
}
.y2 {
  -webkit-transform:  rotateX(270deg) translateZ(50px);
  top:6.25%;
  left:6.25%;
  border: 1px solid #003cff;
}
.z1 {
  top:6.25%;
  left:6.25%;
  -webkit-transform: rotateY(90deg) translateZ(50px);
  border: 1px solid #04b9ea;
}
.z2 {
  top:6.25%;
  left:6.25%;
  -webkit-transform:  rotateY(270deg) translateZ(50px);
  border: 1px solid #04b9ea;
}
.xInner {
  border: 1px solid #77a0cb;
  width: 100%;
  top:50%;
}
.yInner {
  -webkit-transform: rotateX(90deg);
  border: 2px solid #FF0099;
  height: 100%;
  left:50%;
  border: 1px solid #0099FF;
}
.zInner {
  -webkit-transform: rotateY(90deg);
  height: 100%;
  left:50%;
  border: 1px solid #9dcdd4;
}

@-webkit-keyframes mymove
{
100% {
  -webkit-transform:  rotateX(360deg) rotateY(360deg)}
}

@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/Nunito-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}
